<!--views/partials/reviews-form.handlebars-->

<fieldset>
    <legend>Edit Review</legend>
    <!--Title-->
    <p>
        <label for="review-title">Title</label><br>
        <input id="review-title" type="text" name"title" value="{{review.title}}"/>
    </p>
    <!--Movie Title-->
    <p>
        <label for="movie-title">Movie Title</label><br>
        <input id="movie-title" type="text" name="moveTitle" value="{{review.movieTitle}}"/>
    </p>
    <!--Description-->
    <p>
        <label for="review-description">Description</label><br>
        <textarea id="review-description" name="description" rows="10"/>{{reviews.description}}</textarea>
    </p>
</fieldset>
