<!--views/partials/reviews-form.handlebars-->

<fieldset>
    <legend>Edit Review</legend>
    <!--Title-->
    <div class="form-group">
        <label for="review-title">Title</label><br>
        <input id="review-title" type="text" name"title" value="{{review.title}}"/>
    </div>
    <!--Movie Title-->
    <div class="form-group">
        <label for="movie-title">Movie Title</label><br>
        <input id="movie-title" type="text" name="moveTitle" value="{{review.movieTitle}}"/>
    </div>
    <!--Description-->
    <div class="form-group">
        <label for="review-description">Description</label><br>
        <textarea id="review-description" name="description" rows="10"/>{{reviews.description}}</textarea>
    </div>
</fieldset>
