<!--views/partials/reviews-form.handlebars-->

<fieldset>
    <!--Title-->
    <div class="form-group">
        <legend>Review for "{{movie.title}}"</legend>
    </div>
    <!--Description-->
    <div class="form-group">
        <label for="review-description">Description</label><br>
        <textarea class="form-control" id="review-description" name="description" rows="10"/>{{reviews.description}}</textarea>
    </div>
    <!--Rating-->
    <div class="form-group">
        <label for="movie-rating">Movie Rating</label><br>
        <select class="form-control" id="movie-rating" type="" name="movieRating" value="{{review.movieRating}}" />
            <option value="N/A">- Not Any -</option>
            <option value="0">☆☆☆☆☆</option>
            <option value="1">★☆☆☆☆</option>
            <option value="2">★★☆☆☆</option>
            <option value="3">★★★☆☆</option>
            <option value="4">★★★★☆</option>
            <option value="5">★★★★★</option>
        </select>
    </div>
</fieldset>

