<h1>Available Movies</h1>
<div class="movie-container">
    {{#each movies}}
        <a href="/movies/{{this.id}}">{{this.title}}
            <img class="thumbnail" src="https://image.tmdb.org/t/p/w500{{this.poster_path}}">
        </a>
    {{/each}}
</div>